{% extends 'base.html' %}

{% block content %}

<h2 class="heading">Cargo</h2>

<div class="container">
    <form method="POST" class="sub-container">
        {% csrf_token %}
            {{fm.as_p}}
            <input type="submit" value="Create">
    </form>
    <p class="msg">{{msg}}</p>
</div>

<h2 class="heading">Cargo Information</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Delete</th>
    </tr>
    {% for cargo in cargos %}
        <tr>
            <td>{{ cargo.name }}</td>
            <td>{{ cargo.quantity }}</td>
            <td><a href="{% url 'delete_cargo' cargo_id=cargo.id %}" onclick="return confirm('Are You Sure?')">Delete</a></td>
        </tr>
    {% empty %}
        <p class="msg">No Cargos available</p>
    {% endfor %}
</table>
{% endblock %}